body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.padre {
    height: 500px;
    width: 500px;
    display:grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: lfr 2lfr 2lfr 2lfr ;
    gap: 5px;
}
.hijos{
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(11, 149, 204);
}